body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.players-cards {
  border: 2px solid black;
  margin: 15px;
  border-radius: 10px;
}
.dark-mode {
  color: #fff;
  background-color: #313843;
  border: white;
}
.dark-mode-div {
  color: #fff;
  background-color: #313843;
  border: white;
}